@import "compass";

body {
	background: #000 url("/file/view/background.png") no-repeat top left;
	color: #B5B4B2;
	font: 14px / 22px "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
	margin: 0;
}

#{headings()} {
	font-family: "Marcellus SC";
}

img,
input {
	max-width: 100% !important;
}

iframe,
object,
embed {
	display: inline-block;
	max-width: 100%;
}

textarea {
	font-family: monospace;
}

.WikiLogo {
	@include float-left();
}

.WikiSearch {
	@include float-right();
	margin: {
		bottom: 23px;
		top: 23px;
	};
	input {
		background-image: none !important;
		border: none !important;
		font-size: 16px !important;
		padding: 8px !important;
		width: 250px !important;
	}
}

.RssFeed {
	list-style: none;
	padding: 0;
}

.table-responsive {
	overflow: {
		x: auto;
		y: hidden;
	}
	margin: 20px 0;
	width: 100%;
	.wiki_table {
		margin: 0;
	}
}

#sidebar,
#footer {
	a {
		color: #B5B4B2 !important;
		text-decoration: none;
		&:hover {
			color: #E7E7E6 !important;
		}
	}
}

#header {
	height: 120px;
}

#header-inner {
	padding: 24px 20px 0;
}

#page {
	position: relative;
}

#sidebar {
	left: 0;
	position: absolute;
	top: 0;
	width: 210px;
	h1 {
		border-bottom: 1px solid #251f1a;
		color: #9b8570;
		cursor: pointer;
		font-size: 20px;
		font-weight: normal;
		&:hover {
			color: #C5B8AC !important;
		}
	}
	ul {
		list-style: none;
		margin: 3px 0 10px;
		padding: 0;
	}
	li {
		padding: 2px 0;
	}
}

#sidebar-inner {
	background-color: rgba(#000, .5);
	padding: 10px 15px;
}

#content {
	margin-left: 210px;
}

#content-inner {
	@include border-radius(3px 0 0 3px);
	@include box-shadow(#000 0 0 5px);
	background-color: #FFF;
	color: #000;
	padding: 15px;
}

#footer {
	@extend #content;
}

#footer-inner {
	color: #4f4e4c;
	font: bold 11px / 17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px 0;
	text-align: center;
}

@media (max-width: 767px) {
	#header {
		height: auto;
	}
	#header-inner {
		text-align: center;
	}
	.WikiLogo {
		float: none !important;
		margin: {
			left: auto;
			right: auto;
		};
	}
	.WikiSearch {
		display: block;
		float: none;
	}
	#sidebar {
		display: none !important;
	}
	#content {
		margin-left: 0 !important;
	}
	#content-inner {
		@include border-radius(0 !important);
	}
	.commentSubject {
		margin-right: 0 !important;
	}
	.commentColumn {
		display: none;
	}
}
